<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>119673587074-7nmfcfcq5lldse35rhmthtq8v386cau1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.119673587074-7nmfcfcq5lldse35rhmthtq8v386cau1</string>
	<key>API_KEY</key>
	<string>AIzaSyCDA32mqXBxE0HR6nJ7piiB0M7bMbV-fHw</string>
	<key>GCM_SENDER_ID</key>
	<string>119673587074</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.todquest</string>
	<key>PROJECT_ID</key>
	<string>todquest-3523c</string>
	<key>STORAGE_BUCKET</key>
	<string>todquest-3523c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:119673587074:ios:2fa8efaaab8987a1b1bb9b</string>
</dict>
</plist>